* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style  */

.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 16px;
}

/* main */

header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;

    border: none;
    border-radius: 5px;
}

header nav ul a:hover {
    background-color: #9bb5e658;
    font-weight: bolder;
}

header nav .btn {
    padding: 12.5px 16px;
}
