* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style  */

.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff5f5a;
}

.icon-bg {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    margin: 0 auto;
}
.icon-bg img {
    height: 32px;
    width: 32px;
    margin: auto;
}

/* main */

header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;

    border: none;
    border-radius: 5px;
}

header nav ul a:hover {
    background-color: #9bb5e658;
    font-weight: bolder;
}

header nav .btn {
    padding: 12.5px 16px;
}


.circular-design-outer {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #30b86936;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-design-middle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #30b8696e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-design-center {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #30B868;
}

.banner {
    background: url("../assets/hero-bg.png"), #001931;
    background-size:cover;
    text-align: center;
}

.banner .container {
    padding-top: 115.5px;
    padding-bottom: 179.5px;
}

.banner .container .btn-ea {
    display: flex;
    gap: 6px;
    margin: 0 auto;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    color: #30B868;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.banner .container .see-how-it-works {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 16px;
    cursor: pointer;
}

.banner .container .see-how-it-works:hover {
    background-color: #ff5f5a;
}

.banner .container h1 {
    padding: 16px 0px;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}
.banner .container h1 .green-text {
    color: #30B868;
}

.banner .container .banner-p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner .container .button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.notes {
    text-align: center;
}

.notes .container .part1-hp h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.notes .container .part1-hp p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.notes .container .part2-card-container {
    display: flex;
    gap: 24px;
}

.notes .container .part2-card-container .card {
    max-width: 322px;
    padding: 69.5px 24px;
    box-shadow: 0 0 8px 0 #00000026;
    border-radius: 8px;
}

.notes .container .part2-card-container .card h4 {
    font-weight: 600;
    font-size: 24px;
    color: #001931;
    padding-top: 16px;
    padding-bottom: 16px;
}

.notes .container .part2-card-container .card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


.second-brain .container {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-brain .container img {
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

.second-brain .container .hpl h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    padding-bottom: 16px;
}

.second-brain .container .hpl h2 {
    font-weight: bold;
    font-size: 48px;
    color: #001931;
    padding-bottom: 16px;
}

.second-brain .container .hpl p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.second-brain .container .hpl ul {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}

.second-brain .container .hpl ul li {
    padding-bottom: 16px;
    display: flex;
}

.second-brain .container .hpl ul li img {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

.early-access .container {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 120px;
    padding: 80px 40px;
    border-radius: 12px;
    background-color: #F7F6F2;
    
}

.early-access .container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}

.early-access .container p {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 24px;
}

.early-access .container .btn {
    box-shadow: 0 10px 20px 0 #00000021;
    margin-bottom: 16px;
}

.early-access .container .msg-bellow-btn {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}